.menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 15px;
		flex: 1;
		min-height: 0;
		width: 100%;
}

.list {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		gap: 1rem;
		flex: 1;
		min-height: 0;
}

.footer {
		position: fixed;
		bottom: 0;
		padding: 15px;
		margin-bottom: 20px;
		width: 100%;
		display: grid;
		justify-items: center;
}
